@import url('https://fonts.googleapis.com/css2?family=Abel&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(202.77deg, #006A44 10.86%, rgba(0, 0, 0, 0) 85.22%),
    linear-gradient(0deg, #000601, #000601);

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.header-img{
    margin-left: 0%;
    size: 72px;
}

.header-menu {
    display: flex;
    gap: 45px;
}

.header-menu-item {
    font-family: 'Secular One', sans-serif;
    font-size: 24px;
    color: #c2ffc0;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 200px;
    margin-top: 15px;
    border-top: 1px solid #C2FFC0;
}

.main-cont {
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.main-cont-title {
    font-family: 'Secular One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 82px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #00000040;
}

.main-cont-txt {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}

.sec-cont-cam {
    position: absolute;
    width: 183px;
    height: 183px;
    left: 900px;
    top: 166px;
    border-radius: 200px;
}

.sec-cont-film {
    position: absolute;
    width: 266px;
    height: 266px;
    left: 1021px;
    top: 257px;
    border-radius: 200px;
}

.footer-empty {
    margin: 0 auto;
    border-top: 1px solid #C2FFC0;
    width: 500px;
    height: 25px;
}

.footer-img {
    display: block;
    margin: 0 auto;
    width: 221px;
    height: 74px;
}
